/************************** tagselectors************************* */
body {
  text-align: center;
}

h1 {
  color: white;
  font-size: 3rem;
  font-weight: 1000;
}

h2, h3, h6 {
  color: hsl(192, 100%, 9%);
  font-family: 'Poppins', sans-serif;
}

h2 {
  font-size: 1.4rem;
  font-weight: 800;
  margin-bottom: 20px;
}

h3 {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 10px;
}

h6 {
  color: white;
  font-size: 1rem;
  font-weight: 800;
}

p {
  color: hsl(0, 0%, 50%);
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  margin: 16px;
}

ul {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  list-style-type: none;
  line-height: 3;
  padding-left: 0;
  text-align: left;
}

/* *************************class selectors******************** */
.container-fluid {
  padding: 0;
}

.tryItFreeBtn {
  background-color: hsl(214, 64%, 98%);
  border-radius: 1px;
  border-style: none;
  color: #39266f;
  font-size: 16px;
  font-family: Georgia;
  padding: 5px 50px;
}

/* .topContainer {
  background-image: linear-gradient(to bottom right, hsl(322, 100%, 66%), hsl(265, 100%, 66%));
} */
.row {
  padding: 20px;
}

.illustrationImage {
  margin: 50px 0;
  max-width: 80%;
}
.textInTopContainer{
  margin: auto;
  max-width:75%;
}
.button {
  background: hsl(322, 100%, 66%);
  background-image: -webkit-linear-gradient(top, hsl(322, 100%, 66%), hsl(322, 100%, 66%));
  background-image: -moz-linear-gradient(top, hsl(322, 100%, 66%), hsl(322, 100%, 66%));
  background-image: -ms-linear-gradient(top, hsl(322, 100%, 66%), hsl(322, 100%, 66%));
  background-image: -o-linear-gradient(top, hsl(322, 100%, 66%), hsl(322, 100%, 66%));
  background-image: linear-gradient(to bottom, hsl(322, 100%, 66%), hsl(322, 100%, 66%));
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 3px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 30px 10px 30px;
  text-decoration: none;
}

.button:hover {
  text-decoration: none;
}

/* ****************middleContainer*********** */
.middleContainer {
  margin: 100px 0;
  padding: 0;
}

.usersImage {
  max-width: 80%;
  max-height:80%;
}

.text {
  margin-top:50px;
  text-align: left;
}

.textInMiddleContainer {
  color: hsl(208, 11%, 55%);
  font-size: 13px;
}

/* *************bottomContainer************* */
.bottomContainer {
  box-shadow: 4px 4px 4px #d4d7dd, 5px 6px 16px #d4d7dd;
  max-width: 75%;
  margin: auto;
  height: 200px;
}

/* *****************footer******************** */
.logo1{
  margin-left:65px;
  margin-top:50px;
  float: left;
}

.footerRow {
  margin: 50px 50px;
}

.icon {
  margin: 0 10px;
}

.footerInput {
  border: 2px;
  border-radius: 5px;
}

.division1 {
  text-align: left;
}
.division2{
  padding:0;
}

.division3 {
  text-align: left;
}

.footer {
  background-color: hsl(192, 100%, 9%);
  color: white;
  margin-top: 50px;
}

.subscribe {
  float: right;
}

.ParaInfooter {
  color: white;
  font-size: 14px;
  margin: 10px 0;
}


/******************************media query for mobile**************************** */
@media screen and (max-width:575px) {

  /* ********************class selectors************** */
.logo1{
  text-align: center;
}

  .tryItFreeBtn {
    padding: 0;
    position: absolute;
    right: 10px;
    width: 100px;
  }

  .text {
    text-align: center;
  }

  .logoInFooter {
    text-align: center;
  }

  .division3 {
    order: 2;
  }

  .division1 {
    margin-top: 50px;
    order: 3;
  }

  .subscribe {
    text-align: center;
    margin: auto;
    width:225px;

  }
}
